body {
	font-size: 18px;
	background-color: #646e70;
	color: #000000;
	font-family: Book Antiqua, Palatino,serif;
}

h1 {
	font-family: Palatino Linotype, serif;
	font-size: 46px;
	font-weight: bold;
	color: #3f4030;
	text-align: center;
}