#content{
	width: 100%;
	position: absolute;
}

#summaries{
	position : relative;
	width: 77%;
	float: left;
	padding: 3%;
}

#summary_title{
    color: rgb(20, 20, 26);
}

#summary_method{
    color: rgb(37, 35, 44);
}

#summary_text{
    color: rgb(0, 0, 0);
}

#sources{
    position : relative;
    width:20%;
    float: right;
    text-align: center;
    padding-top: 3%;
}
    
#sources ul {
    border-left: 5px solid #967a7a;
    list-style-type: none;
    padding: 8px 10px;
    display: block;
}

#sources li{
	padding: 10px;
}

#source_domain{
    color: rgb(54, 20, 28);
}

#source_url{
    color: rgb(43, 54, 21);
    text-decoration: none;
	display: block;
}

#source_url:hover{
    color: rgb(53, 23, 49);
}

#source_url visited{
	color: rgb(60, 145, 85);
}

h2{
    font-size: 26px;
	color: #000000;
	text-align: center;
}